<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo!</title>
    <link rel="stylesheet" href="./style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Finger+Paint|Over+the+Rainbow" rel="stylesheet">
</head>

<body>

    <h1>ToDo?</h1>
    <div class="formContain">
        <form class="form" action="/" method="post">
            <input class="input" type="text" name="searchInput" placeholder="What do you have to do?">
            <input type="submit">
        </form>
    </div>
    <div class="listContain">
        <ul>
            {{#todos}}
            <li>
                <input class="checkbox" type="checkbox"><span> {{.}}</span>
            </li>
            <br> {{/todos}}
        </ul>
    </div>

</body>

</html>